/* start directing */

h2{
    color: saddlebrown;
    text-align: center;
    text-decoration: lightsalmon;}

    p{
        color: dodgerblue;
        background-color: palegreen;
        text-align: left;
        text-shadow: 1.5cm;
    }
